# Django Portfolio Website

A personal portfolio website built using Django.  
This project is hosted on PythonAnywhere.

## Features
- Responsive portfolio UI
- Contact form (email enabled)
- Static file handling
- Django template engine

## Tech Stack
- Django 5
- Python 3
- HTML, CSS, JavaScript

## Live Demo
https://ZeelMakwana.pythonanywhere.com/
